{%include 'header.html'%} {%include 'nav.html'%}
<div class="catagary_section_2 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="box_man">
          <h3 class="barang">bola sepakbola</h3>
          <div class="foto_barang"><img class="image" src="{{url_for('static', filename='bola.jpg')}}" /></div>
          <div class="cart_main">
            <div class="cart_bt"><a href="{{url_for('shop_single')}}">Add To Cart</a></div>
            <h4 class="merk">Nike</h4>
            <h6 class="rate_text"><a href="#">$500</a></h6>
            <h6 class="rate_text_1">$1000</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_man">
          <h3 class="barang">bola Voly</h3>
          <div class="foto_barang"><img class="image" src="{{url_for('static', filename='voly.png')}}""></div>
          <div class="cart_main">
            <div class="cart_bt"><a href="{{url_for('shop_single')}}">Add To Cart</a></div>
            <h4 class="merk">mikasa</h4>
            <h6 class="rate_text"><a href="#">$500</a></h6>
            <h6 class="rate_text_1">$1000</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_man">
          <h3 class="barang">bola basket</h3>
          <div class="foto_barang"><img class="image" src="{{url_for('static', filename='basket.png')}}""></div>
          <div class="cart_main">
            <div class="cart_bt"><a href="{{url_for('shop_single')}}">Add To Cart</a></div>
            <h4 class="merk">mikasa</h4>
            <h6 class="rate_text"><a href="#">$500</a></h6>
            <h6 class="rate_text_1">$1000</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_man">
          <h3 class="barang">baseball</h3>
          <div class="foto_barang"><img class="image" src="{{url_for('static', filename='baseball.png')}}""></div>
          <div class="cart_main">
            <div class="cart_bt"><a href="{{url_for('shop_single')}}">Add To Cart</a></div>
            <h4 class="merk">mikasa</h4>
            <h6 class="rate_text"><a href="#">$500</a></h6>
            <h6 class="rate_text_1">$1000</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- catagary section end -->
{%include'footer.html'%}
