{%include'headeradmin.html'%}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Barang yang perlu dikirim</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Perlu dikirim</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>id pembelian</th>
                    <th>id barang</th>
                    <th>Nama barang</th>
                    <th>Kategori</th>
                    <th>variasi</th>
                    <th>Nama pembeli</th>
                    <th>Alamat Pembeli</th>
                    <th>No handphone</th>
                    <th>Email</th>
                    <th>aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>EWTLM909090</td>
                    <td>113012I3012</td>
                    <td>Bola basket</td>
                    <td>Bola</td>
                    <td>-</td>
                    <td>Yusuf</td>
                    <td>yogyakarta</td>
                    <td>085816391762</td>
                    <td>Yusuf@gmail.com</td>
                    <td>
                      <a class="btn btn-app"> <i class="fas fa-edit"></i> Edit </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{%include'footeradmin.html'%}
